@tailwind base;
@tailwind components;
@tailwind utilities;

.dot {
  width: 7px;
  height: 7px;
  background-color: #d7d7d7;
  border-radius: 50%;
  margin-right: 6px;
}

.animate-dot1 {
  animation: dotAnimation 1.8s infinite ease-in-out;
}

.animate-dot2 {
  animation: dotAnimation 1.8s infinite 0.3s ease-in-out;
}

.animate-dot3 {
  animation: dotAnimation 1.8s infinite 0.6s ease-in-out;
}

.animate-dot4 {
  animation: dotAnimation 1.8s infinite 0.9s ease-in-out;
}
